* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: fit-content;
  margin-top: 64px;
  margin-left: 128px;
  padding-left: 16px;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 60%);
  padding-bottom: 64px;
  padding-top: 64px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.max-width-wrapper {
  width: 600px;
}

.intro-chunk {
  width: 50%;
  margin-bottom: 64px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 24px;
  margin-top: 0;
  margin-left: -24px;
  width: fit-content;
}

.card {
  margin-left: 128px;
  width: 500px;
  padding: 16px;
  padding-top: 8px;
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

@media (max-width: 400px) {
}
